.form-item-title{
  margin-top: 50px;
  margin-left: 10px;
}
.form-item-title input{
  margin-left: 20px;
  width: 600px;
}

.field-name-field-tour-location{
  margin-top: 10px;
}
.field-name-field-tour-location input{
  margin-left: 20px;
}
.node-tours-form{

  width: 800px;
  margin-right: auto;
  margin-left: auto;
}