.footer {
  clear: both;
  background-color: #4D4D4D;
}
.newsletter {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0;
}
.newsletter label {
  color: white;
  font-size: 20px;
  font-weight: normal;

}