/* Subnavigatie voor gidsen */

#subnav {
  width: 100%;
  background-color: lightgrey;
  padding: 10px 18%;

}
#block-menu-menu-gidssub h2 {
  display: none;
}
#block-menu-menu-gidssub .content ul {
  display: flex;
  justify-content: flex-end;
}
#block-menu-menu-gidssub .content ul li{
  list-style: none;
}
#block-menu-menu-gidssub .content ul li a{
  color: #4D4D4D;
}
#block-menu-menu-gidssub .content ul li a:hover{
  text-decoration: none;
}