/*      MAX WIDTH 768       */

@media(min-width:768px) {
      header{
        background-position: 0px ;
    }
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(max-width:900px) {
    header{
    background-size: cover;
  }
  header .container p{
    font-size: 24px;
  }
}


/*      MAX WIDTH 600       */
@media (max-width: 600px) {
  header{
    background-size: cover;
    background-position: 0% 0%;
  }
  header .container{
    max-width: 400px;
    margin: auto;
  }
  header .container p{
    text-align: center;
    font-size: 24px;
  }
  #rondleidingen h3{
    font-size: 30px;
  }
  #zoeken{
    margin: auto;
    display: inline-block;
    text-align: center;
  }
  #filmpje{
    display: none;
  }
  .col-xs-6{
    width: 100%;
  }
  #lid h2{
    text-align: center;
    padding-top: 70px;
    font-size: 35px;
  }

  #gidsworden{
    margin-top: 5px;
    margin-bottom: 0px;
  }
  #lidworden{
    padding-bottom: 70px;
  }
  #lid{
    background-size: cover;
    background-position: 0% 0%;
    padding-bottom: 0px;
  }
  #rondleidingen .col-md-4{
    width: 100%;
  }

  .workflow{
  background-color: #F1F1F1;
}




.workflow ul{
  max-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.workflow ul li{
  width: 100%;
  float: none;
}
.workflow ul li[name=stap2], .workflow ul li[name=stap3]{
  margin-top: 15px;
}
.workflow ul .tussenlijn{
  display: none;
}
.workflow ul li img{
  display: block;
  margin: auto;
}
.workflow ul li p{
  text-align: center;
  color: #888887;
  margin-top: 5px;
}

#subscribe{
  display: none;
}

/* filter rondleidingen */

.form-item-edit-tour-language-nl{
   color: red;
}

