#nieuwsbrief{
    background-color: #4D4D4D;
    padding: 20px;
}
#subscribe{
    width: 60%;
    margin-left: auto;
    margin-right: auto;


}

#subscribe label {
  color: #F5F6F7;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  margin-top: 10px;
  padding-left: 60px;
}

#subscribe input[type="text"] {
  height: 55px;
  width: 75%;
  font-family: 'allerbold';
  text-transform: uppercase;
  font-size: 13px;
  padding: 20px 40px;
  float: left;
  color: #F5F6F7;
  background-color: #4D4D4D;
  border: 0.5px solid white;
  border-radius: 4px;
}
#subscribe input[type="submit"] {
  height: 55px;
  width: 25%;
  font-family: 'allerbold';
  text-transform: uppercase;
  font-size: 13px;
  padding: 20px 40px;
  float: left;
  color: #4D4D4D;
  background-color: #F5F6F7;
  border: none;
  border-radius: 4px;

}
@media (max-width: 600px) {
  #subscribe {
    display: none;
  }
}