#fotos{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#fotos h1{
  margin-bottom: 8px;
  color: #4DBEF0;
  font-size: 2rem;

}

#fotos strong{

  color: blue;
  font-weight: bold;
}
#rating{
  margin-bottom: 20px;
}

#like{
  margin-top: 20px;
  margin-bottom: 20px;
}
#price {
  padding-left: 150px;

}

#comment{
  margin-top: 30px;
}
#commentaar{
  padding-left: 120px;
}
#commentaar h2{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}
.field-name-field-tour-coverphoto{
  margin-top: 40px;
}

#TourFoto{
  margin-top: 20px;
}
#infoBlok{
  background-color: #F5F6F7;
  padding-top: 30px;
  padding-bottom: 30px;
}
#infoBlok h2{
  color: #3DB4D6;
  font-weight: bold;

  font-size: 20px;
  padding-bottom: 15px;
}
#beschrijving{
  margin-bottom: 30px;
}

#beschrijving h2{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FC9D50;
  font-size: 20px;
  font-weight: bold;

}

.field-name-field-tour-theme{
  color: black;
  margin-top: -20px;
  margin-left: 42px;
}
#fotos ul li img{
  float: left;

}