.views-exposed-form {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 40%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto; }

#edit-tour-language-wrapper{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid;
}
.form-type-bef-checkbox{
  float: left;
  margin-left: 50px;
}
#edit-field-tour-pricecategory-value-wrapper{
  float: left;
  width: 48%;
  margin-left: 24px;
  margin-top: 20px;
}
#edit-field-tour-location-tid-wrapper{
  width: 40%;
  float: right;
  margin-top: 20px;
}
.form-item-field-tour-location-tid input{
  width: 80%;
}
.views-widget-sort-by{
  visibility: hidden;
}
.form-item-sort-order label[for="edit-sort-order"]{
  visibility: hidden;
}
.views-widget-sort-order{
  float: right;
  margin-left: -10px;
  margin-top: 40px;
}
#edit-sort-order{
  padding: 5px;
}
.views-widget-filter-field_tour_pricecategory_value input{
  margin-right: 40px;
  width: 20%;
  float: left;
}
.views-exposed-form .bef-slider{
  margin-top: 20px;
  width: 55%;
}
.form-item-sort-order .form-select {
  margin-right: 32px;
  float: right;

}





.form-item-field-tour-pricecategory-value-max label{
  visibility: hidden;
}
.views-view-grid{
  margin-top: 20px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.views-exposed-form .views-exposed-widget {
    float: none;
    padding: .5em 1em 0 0;
}
