#acountform{
  color: red;
}
#acountform strong{
  padding-top: 30px;
}
#accountblok{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.field-name-field-user-guide-experience{
    padding-left: 30px;
    padding-top: 50px;
}
.field-name-field-user-guide-birthdate{
  padding-left: 30px;
  padding-top: 10px;
}
.field-name-field-user-guide-address{
  padding-left: 30px;
  padding-top: 10px;
}
.field-name-field-user-guide-languages{
  padding-left: 30px;
  padding-top: 10px;
}

.profile h3{
  visibility: hidden;
}

#basicInfo{
  padding-left: 30px;
  padding-top: 50px;
}

  @media (min-width: 600px) {
 .user-picture .active{
  margin-right: 500px;
}
}
#gegevens h2{
  color: #3DB4D6;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
#favorieten h2{
    color: #3DB4D6;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
#gegevens p{
  margin-top: 5px;
}
#BasisInfo p{
  padding-top: 5px;
}
#gegevens{
    padding-bottom: 20px;

}
#NaamToerist{
  border-bottom: 1px solid;
  height: 150px;
}

#accountform h1{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile dt{
  visibility: hidden;
}
.profile dd{
  visibility: hidden;
}